{% extends "base.html" %}

{% block content %}

<form action = "/confirmation" method="post", "get">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">Username</label>
                </td>
                <td>
                    <input name="username" type="text" value/>
                </td>
                {% if error %}
                <td>{{error}}</td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input name="password" type="password" value/>
                </td>
                {% if error %}
                <td>{{error}}</td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <label for="password-verification">Verify Password</label>
                </td>
                <td>
                    <input name="password-verification" type="password" value/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td>
                    <input name="email" type="text" value/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </tbody>
    </table>

</form>

{% if error %}
  <p>
    {{ error }}
</p>
{% endif %}

{% endblock %}