{% extends "base.html" %}

{% block content %}

<form action = "/confirmation" method="post", "get">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="username">Username</label>
                </td>
                <td>
                    <input name="username" type="text" value/>
                </td>
                <td>{% if username_error%}
                    {{ username_error}}
                    {% endif%}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input name="password" type="password" value/>
                </td>
                <td>{{password_error}}</td>
            </tr>
            <tr>
                <td>
                    <label for="password-verification">Verify Password</label>
                </td>
                <td>
                    <input name="password-verification" type="password" value/>
                </td>
                <td>
                    {{password_verification_error}}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td>
                    <input name="email" type="text" value/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit"/>
                </td>
            </tr>
        </tbody>
    </table>

</form>

{% if error %}
  <p>
    {{ username_error }}
    {{ password_error }}
</p>
{% endif %}

{% endblock %}